@charset "UTF-8";

/* Typical Device Breakpoints
  Pequenas Telas: até 600px
  Celular: de 600 a 768px
  Tablet: 768 a 992px
  Desktop: 992 até 1200px
  Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
  span#burger {
    display: none;
    /* Esconde o "burger" */ 
  }

  nav {
    display: block;
    /* Exibe as opções de menu */
  }
  nav li {
    display: inline-block;
    /* Coloca as opções de menu em linha horizontal */
  }

  main {
    width: 768px;
    /* Limita a largura da tela ao máx de 768px */
  }
}
