@charset "UTF-8";

@font-face {
  font-family: android;
  src: url(/desafios/d010/pacote-projeto-d010/fontes/idroid.otf);
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  /* Configurando todos os elementos com Margem e Padding 0 */
  margin: 0%;
  padding: 0%;
}

/* Criando variáveis em CSS */
:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue";
  --fonte-android: 'android', cursive;
}

body {
  background-color: var(--cor1);
}

header {
  background-image: linear-gradient(90deg, var(--cor5), var(--cor3));
  border-radius: 10px 10px 0px 0px;
  min-height: 110px;
  padding-top: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}
header > h1 {
  font-family: var(--fonte-destaque);
  font-weight: normal;
  font-size: 2.5em;
  background-image: linear-gradient(90deg,  var(--cor5), var(--cor3));
  color:white;
  margin-top: 10px;
}
header > p {
  font-family:var(--fonte-padrao);
  font-size: 0.8em;
  color: white;
  max-width: 600px;
  min-width: 300px;
  line-height: 1em;
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}
nav {
  padding-top: 10px;
  padding-bottom: 5px;
  background-image: linear-gradient(90deg,  var(--cor5), var(--cor3));
  font-size: 1em;
  line-height: 0.5em;
}
nav > a {
  font-family:var(--fonte-padrao);
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
  color:var(--cor1);
  border-radius: 3px 3px 0px 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  transition-duration: 0.5s;
}
nav > a:hover {
  /* Muda cor de fundo e cor da letra do link ao passar o mouse */
  background-color: var(--cor2);
  color:var(--cor4);
}
main {
  background-color:var(--cor0);
  /* Define as larguras min e max para main */
  min-width: 300px;
  max-width: 800px;
  font-family:var(--fonte-padrao);
  font-size: small;
  text-align: justify;
  /* Mantém a caixa main centralizada na tela */
  margin: auto;
  /* Cria uma margem de 30px no botton de main */
  margin-bottom: 30px;
  /* Cria um espaço (padding) de 10px nas bordas de main */
  padding: 10px;
  /* Criação de shadow de 10px nas bordas de main */
  box-shadow: 0px 0px 10px black;
  /* Criação de arredondamento nas extremidades debaixo de main*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main img {
  /* Mantém a proporção da imagem ao tamanho da tela em 100% */
  width: 100%;
}

main img.pequena {
  /* Reduz o tamanho para 350px da imagem cuja class é "pequena" */
  max-width: 350px;
}

picture.irina {
  /* Shadow no box da imagem da Irina */
  box-shadow: 0px 0px 10px black;
}

a.externo::after {
  content: '\1F516';
}

p {
  margin: 15px 0px;
  /* Indentação da primeira linha do parágrafo em 30px */
  text-indent: 30px;
  /* Espaçamento entre linhas, neste caso, espaçamento 2em */
  line-height: 2em;
}
main strong {
  color:var(--cor5);
  font-weight: bold;
  padding: 1px 6px;
}
main a {
  text-decoration: none;
  font-weight: bold;
  background-color: var(--cor2);
  color: var(--cor5);
  padding: 2px 6px;
}

main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}

.bugdroid {
  /* Centraliza o conteúdo da div "bugdroid", nesse caso uma img */
  display: flex;
  justify-content: center;
}
picture {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: var(--fonte-android);
  font-weight: normal;
  color:var(--cor4);
  background-image: linear-gradient(to right, var(--cor3), transparent);
  padding-left: 5px;
}

/* Centralizando o vídeo do Youtube */
div.video {
  background-color: var(--cor3);
  border-radius: 10px;
  padding: 20px;
  margin: 0px;
  padding-bottom: 55%;
  position: relative;
  box-shadow: 0px 0px 10px black;
}
div.video > iframe {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
}

aside {
  background-color: var(--cor2);
  margin-top: 10px;
  padding: 10px;
  /* Arredondamento de todas as bordas do aside*/
  border-radius: 10px;
  /* Sombreamento suave da caixa aside */
  box-shadow: 0px 0px 10px black;
}

aside ul {
  /* 00A0 dá um espaço à esquerda do icon */
  list-style-type: '\00A0\1F516';
  /* Coloca os icon dentro da box */
  list-style-position: inside;
  /* Divide a lista em duas colunas*/
  columns: 2;
}

aside > h2 {
  /* Fazendo o cabeçalho arredondado com cores diferentes */
  background-color: var(--cor4);
  color: white;
  padding: 3px 3px 3px 10px;
  /* Margem negativa vaza para fora e permite o acabamento */
  margin: -10px -10px 0px -10px;
  /* Arredondamento só das bordas esq e dir sup do h2*/
  border-radius: 10px 10px 0px 0px;

}

footer {
  background-color: var(--cor3);
  color: white;
  font-family:var(--fonte-padrao);
  font-size: 0.8em;
  text-align: center;
  padding: 3px;
    /* Arredondamento só das bordas esq e dir inf do footer*/
  border-radius: 0px 0px 10px 10px;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--cor4);
}
