@charset "UTF-8";

/* Typical Device Breakpoints
  Pequenas Telas: até 600px
  Celular: de 600 a 768px
  Tablet: 768 a 992px
  Desktop: 992 até 1200px
  Grandes Telas: acima de 1200px
*/


@media screen and (max-width: 768px) {
  
  
  header > nav {
    justify-content: flex-start;
  }

  img#iImgInitial {
    width: 100%;
    height: 40%;
  }

}


@media screen and (max-width: 500px) {

  header {
    display: block;
  }

  header > h1 {
    text-align: center;
  }
  
  header > nav {
    display: none;
  }

  header > span#burger {
    width: 100%;
    display: block;
    background-color: #6BA5F2;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
  }

  span#burger:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
  }

  nav#inav > div {
    padding: 5px 2px;
  }

  nav > div > a {
    color: white;
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
    display: block;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
  }

  nav#inav > div > a:hover {
    background-color: #BBBF4B;
    color: black;
    box-shadow: 2px 2px 2px black;
  }

  img#iImgInitial {
    width: 100%;
    height: 30%;
  }
}


