@charset "UTF-8";
/* Aparelho deitado */

body {
  background: url('../imagens/cev-landscape.jpg');
  background-position: left bottom;
  background-size: contain;
  background-repeat:no-repeat;
}

h1 {
  color: darkgoldenrod;
  text-shadow: 2px 2px 0px #1526a7;
  padding: 10px;
}